@using ComplaintManagement.Models
@model RegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>PAY MOBILE</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; child-src 'self' 'unsafe-inline' 'unsafe-eval'; object-src 'none';script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google-analytics.com; img-src 'self' https://www.google-analytics.com; style-src 'self' 'unsafe-inline'">
    <link rel="shortcut icon" type="image/png" href="~/assets/static/img/9.png" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="~/assets/static/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/bootstrap-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/assets/static/plugins/fontawesome-5.15.3/css/fontawesome.min.css" rel="stylesheet" />*@
    <link href="~/assets/static/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/desiredfont.css" rel="stylesheet" />
    <link href="~/login/style.min.css" rel="stylesheet" />
    <link href="~/assets/static/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/login/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="~/assets/static/plugins/pace/pace.min.js"></script>*@
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    @* <img src="~/assets/img/10.gif" data-id="login-cover-image" alt="" height="100%" /> *@
                    <img src="~/assets/img/10.gif" data-id="login-cover-image" alt="" height="auto" />
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin login-content -->
                <div class="login-content">
                    <div class="login-header">
                        <div class="madison-logo">
                            <i class="fa-solid fa-handshake-angle" style="font-size:80px" aria-hidden="true"></i>
                            @*<i class="fa fa-gavel"  ></i>*@
                        </div>
                    </div>
                    @*<img class="madison-logo"<i class="fa-solid fa-heart-pulse"></i>" alt="Madison logo" />*@
                    @*<img class="madison-logo" src="~/assets/static/img/brand2d/madison-logo.png" alt="Madison logo" />*@

                    <form id="registration-form" action="@Url.Action("Register", "Registration")" method="POST" class="margin-bottom-0">
                        @* <form id="registration-form" action="/Registration/Register" method="POST" class="margin-bottom-0"> *@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(s => s.ReturnURL)
                        @Html.AntiForgeryToken()

                        <div class="row" id="errors">
                            @{
                                Html.RenderPartial("_Alerts");
                            }
                        </div>
                        <div class="form-group m-b-15">
                            <label for="email">Full Name</label>
                            <input type="text" id="name" name="name" class="form-control input-md" placeholder="Name" required />
                        </div>
                        <div class="form-group m-b-15">
                            <label for="email">User Name</label>
                            <input type="text" id="user_name" name="user_name" class="form-control input-md" placeholder="User Name" required />
                        </div>
                        <div class="form-group m-b-15">
                            <label for="email">Email Address</label>
                            <input type="text" id="email" name="email" class="form-control input-md" placeholder="Email Address" required />
                        </div>
                        <div class="form-group m-b-15">
                            <label for="email">Phone Number</label>
                            <input type="text" id="mobile" name="mobile" class="form-control input-md" placeholder="Phone Number" required />
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control input-md" placeholder="Password" required />
                            <i class="glyphicon glyphicon-eye-open form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control input-md" placeholder="Confirm Password" required />
                            <i class="glyphicon glyphicon-eye-open form-control-feedback"></i>
                        </div>
                        <div id="password-warning" class="text-danger" style="display: none;">
                            Passwords do not match!
                        </div>
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-sm">Register</button>
                        </div>
                        <br />
                        <p class="text-success">Already have an account? Click here to log in</p>
                        <a href="@Url.Action("AdminLogin", "AppAuth")" class="btn btn-success btn-block btn-sm">
                            Sign Up
                        </a>


                        <br />
                        <hr />
                        <p class="text-center">
                            Copyright &copy; @DateTime.Now.Year <a href="http://www.smartcode.co.ke" target="_blank">Smartcode Technologies</a>.
                            All rights reserved.
                        </p>
                    </form>
                </div>
                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/static/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/static/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/static/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/static/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/static/plugins/bootstrap-sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/assets/static/plugins/password-indicator/js/password-indicator.js"></script>
    <script src="~/assets/static/js/hideShowPassword.min.js"></script>
    <script src="~/assets/static/js/cp.js"></script>
    <script src="~/assets/static/js/apps.min.js"></script>
    <script src="~/assets/static/js/jquery.blockUI.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function () {
            App.init();

            $('#registration-form').on('submit', function (e) {
                e.preventDefault();
                var password = $('#password').val();
                var confirmPassword = $('#confirm_password').val();

                if (password !== confirmPassword) {
                    $('#password-warning').show();
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Passwords do not match!',
                    });
                    return;
                }

                $('#password-warning').hide();

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '@Url.Action("AdminLogin", "AppAuth")';
                                }
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: response.message,
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'An unexpected error occurred. Please try again later.',
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
